body {
  background-color: lightgray;
  color: #001f3f;
  width: 100%;
  height: 100%;
  font-family: 'Nanum Gothic', sans-serif;
}

a {
  color: black;
  font-weight: bold;
}

#homepage h1,p {
  display: inline;

}

.main {
  width: inherit;
  height: inherit;
}

nav a {
  color: #001f3f;
}


.site-content {
  padding-top: 15px;
  padding-bottom: 10vh;
  height: 90vh;
  width: auto;
}

footer.footer {
  font-size: 80%;
  height: auto;
  position: absolute;
  width: 100%;
  bottom: 1.5%;
  text-align: center;
}

.middle {
  position: relative;
  top: 35%;
}


#top, #bottom, #left, #right {
  background: #001f3f;
  position: fixed;
}
#left, #right {
  top: 0; bottom: 0;
  width: 1%;
}

#left { left: 0; }
#right { right: 0; }
  
#top, #bottom {
  left: 0; right: 0;
  height: 1.5%;
}

#contact-bubbles {
  display: flex;
  justify-content: center;
  margin-bottom: 3vh
/*  clear: both;*/
}

#contact-page {
  text-align: center;
}

.contact-bubble {
  flex: auto;
}

.social-icon {
  width: 10vw;
  margin-right: 1vw;

}




#top { top: 0; }
#bottom { bottom: 0; }
/*nav {
  background-color: #211F30;
}

footer {
  background-color: #211F30;
}*/

.model {
  position: absolute;
  top:      0%;
  left:     5%;
  bottom:   0;
  right:    0;
  width:    90%;
  height:   95%;
  background: #FFFFFF;
}

#about-me {
  height: inherit;
  text-align: justify;
  line-height: 2;
}
